<?php
declare(strict_types=1);
error_reporting(-1);
ini_set('xdebug.max_nesting_level', '250');
ini_set('memory_limit', '512M');
defined('ZLS_RUN_MODE_CLI') || define('ZLS_RUN_MODE_CLI', false);
defined('ZLS_RUN_MODE_PLUGIN') || define('ZLS_RUN_MODE_PLUGIN', true);
defined('ZLS_NO_RUN') || define('ZLS_NO_RUN', true);
include_once __DIR__ . '/../public/index.php';
$config = Zls::getConfig();
spl_autoload_register('__testAutoload');
try {
    if (!$config->runState) {
        Zls::run();
    }
} catch (Throwable $e) {
    echo $e->getMessage();
}
function __testAutoload($className)
{
    $className = str_replace(['/', '_', 'Hmvc\\', 'Packages\\'], ['\\', '\\', '', ''], 'tests\\' . $className);
    $classPath = lcfirst(str_replace('\\', '/', $className) . '.php');
    $filePath  = Z::realPath($classPath, false, false);
    if (file_exists($filePath)) {
        Z::includeOnce($filePath);

        return true;
    }

    return false;
}
